$text: #A5ADB6;
$accent: #0093FF;
$background: #1B1D24;
$card-background: #1E2127;
$input: #30333A;

.profile-view {
    background-color: $background;
    min-height: 100vh;
}

.profile-view-card {
    background-color: $card-background;
    color: $text;
    box-shadow: 4px 4px 8px #000;
    padding: 48px 86px;
}
.profile-view-card input {
    transition: all .30 ease-in-out;
}

.profile-view-card input,
.profile-view-card input:focus,
.profile-view-card input:read-only {
    color: $text;
    background-color: $input;
    border-color: $input;
}

.profile-view-card input:read-write {
    filter: brightness(1.15);
}

.favs-card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: $background;
    color: $text;
}