$text: #A5ADB6;
$accent: #0093FF;
$background: #1B1D24;
$card-background: #1E2127;
$input: #30333A;

.search-bar,
.search-bar:focus {
    color: $text;
    background-color: $input;
    border-color: $input;
    border-radius: 25px;
    max-width: 75%;
}